*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.contener{
    width: 250px;
    height: 390px;  
    background-color: #E1FFFF;
    margin: auto;
    position: relative;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.output{
    width: 100%;
    height: 80px;
    /* border-style: solid; */
    border-style: ridge;
    box-sizing: border-box;
    /* background-color: aliceblue; */
}
.output__fixed{
    width: 100%;
    height: 65px;
    /* background-color: black; */
}
.output__display{
    width: 100%;
    height: 75px;
    /* background-color: #808080; */
    color: black;
    /* background-color:#343434 ; */
    font-size: 30px;
    text-align: end;
    line-height: 75px;
}
p{
    
    position: absolute;
    right: 20px;
}
.input{
    width: 100%;
    height: 310px;
    background-color: #ABD9E6;
    /* background-color: black; */
}
.input--fixed{
    height: 10px;
}
.button{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 0px 10px 10px;
    border: 0px;
    float: left;
    font-weight: 750;
    transition: 0.5s;
    background-color: white;
    color: #444444;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.24) 3px 3px 3px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 3px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
/* .botton--orther{
    background-color: #008080;
    color: #F0F8FF;
}
.number{
    background-color: #343434;
    color: white;
}
.button--number{
    background-color: black;
} */