*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: #5c5e67;
}
hr {
    
    background-color: #ddeef4;
    color: #e8f2f0;
    /* color: white; */
    height: 1px;
    border: 1px solid #e8f2f0;
}
.screen{
    background-color: #eef7f9;
    width: 100%;
    height: 100%;
}
.contaner1{
    width: 2880px;
    height: 1825px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}
.navbar{
    width: 100%;
    height: 160px;
    background-color: white;
}
.navbar__menu--list{
    margin-left: 40px;
}
.navbar__menu--list li{
    margin: 0px 20px;
    height: 70px;
    padding: 0px 20px;
    transform: translateY(40px);
    border-radius: 15px;
    float: left;
    display: inline;
    line-height: 66px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    color: #5c5e67;
    border: 2px solid white;
    transition: 0.5s;
    font-weight: 800;
    cursor: pointer;
}
.navbar__menu--list li:hover{
    box-sizing: border-box;  
    border: 2px solid #c7d2e6;
    background-color: #f5f8ff;
}
.navbar__user{
    margin-right: 80px;
    background-color: white;
}
.navbar__user--list{
    cursor: pointer;
}
.navbar__user--list li{
    margin-left: 20px;
    float: right;
    display: inline;
    line-height: 160px;
    font-size: 22px;
    background-color: white;
}
.navbar__user--avata{
    margin-right: 8px;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(0px, 25px);
}
.main{
    margin-top: 100px;
    width: 100%;
    height: 195px;
    background-color: white;
}
.main__user{
    float: left;
    background-color: white;
}
.main-page{
    padding: 0px;
    width: 110px;
    height: 75px;
    border: 2px solid #c7d2e6;
    background-color: #f5f8ff;
    color: #103c82;
    transform: translateY(40px);
    border-radius: 15px;
}
h1{
    font-size: 70px;
    background-color: white;
}
.page{
    margin: 0px 80px;
    width: 2720px;
    height: 1290px;
    background-color: white;
    display: block;
}
.main__user--amount{
    font-size: 14px;
    background-color: white;
}
.main__user--amount p{
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
}
.main__button{
    display: inline;
}
.main__button--btn{
    width: 275px;
    height: 85px;
    float: right;
    border-radius: 10px;
    border: 0px;
    background-color: #103c82;
    transition: 0.5s;
    cursor: pointer;
}
.main__button--btn:hover{
    opacity: 0.7;
}
.main__button i{
    width: 35px;
    height: 35px;
    border: 2px solid white;
    color: white;
    background-color: #103c82;
    border-radius: 50%;
    line-height: 35px;
    transform: translateY(-10%);
}
.main__button span{
    margin-left: 20px;
    color: white;
    background-color: #103c82;
    font-size: 25px;
    line-height: 85px;
}
.search{
    width: 100%;
    height: 190px;
    border-radius: 15px;
    background-color: #fafbff;
}
.search i{
    position: relative;
}
.search--glass{
    left: 85px;
    top: 80px;
    font-size: 35px;
    z-index: 100;
    background-color: white;
}
.search--setting{
    right: -2580px;
    top: -67px;
    font-size: 35px;
    z-index: 100;
    background-color: white;
}
.search--nav{
    width: 2640px;
    height: 110px;
    border: 2px solid #d9dbe4;
    display: block;
    border-radius: 15px;
    /* color: #d9dbe4; */
    /* color: #000000; */
    color: #adafbb;
    background-color: white;
    padding-left: 105px;
    position: relative;
    top: 5px;
    box-sizing: border-box;
    margin: auto;
    font-size: 20px;
}
.search--nav::placeholder { 
    color: #adafbb;
}
.users--selected{
    margin-top: 45px;
    width: 100%;
    height: 85px;
    background-color: white;
}
.users--selected p{
    float: left;
    line-height: 85px;
    background-color: white;
    font-weight: 600;
}
.button-minus{
    margin: 0px 40px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: #103c82;
    background-color: #cfd8e6;
    display: block;
    float: left;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 18px;
    transition: 0.5s;
}
.button-minus:hover{
    background-color: #8f9eb7;
    color: white;
}
.people__list{
    width: 100%;
    height: 145px;
    background-color: white;
    transition: 0.5s;
}
.people__list--button{
    margin: 0px 40px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 3px solid #d9dbe4;
    color: #103c82;
    background-color: white;
    display: block;
    float: left;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 18px;
    transition: 0.5s;
    box-sizing: border-box;
}
.people__list--button i{
    color: white;

}
.people__list--button:hover{
    background-color: #8f9eb7;
}
.people__list--avata{
    margin-right: 30px;
    width: 65px;
    height: 65px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.people__list--img{
    width: 65px;
    height: 65px;
    border-radius: 10px;
    line-height: 145px;
}
.people__list--name{
    width: 415px;
    height: 100%;
    float: left;
    line-height: 145px;
    font-size: 20px;
    color: #232429;
    font-weight: 600;
}
.people__list--mail{
    width: 545px;
    height: 100%;
    float: left;
    font-size: 20px;
    line-height: 145px;
    color: #232429;
}
.people__list--office{
    width: 930px;
    height: 100%;
    float: left;
    font-size: 20px;
    line-height: 145px;
    color: #232429;
}
.people__list--active{
    min-width: 150px;
    height: 65px;
    border: 2px solid #d9dbe4;
    float: left;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
}
.people__list--active i, p{
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 61px;
    background-color: white;
}
.people__list--active i{
    margin-left: 20px;
    margin-right: 15px;
    color: #30d18d;
}
.people__list--active p{
    margin-right: 20px;
    color: #23252a;
    font-weight: bold;
}
.people__list--inactive{
    min-width: 175px;
    height: 65px;
    border: 2px solid #d9dbe4;
    float: left;
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    color: #232429;
}
.people__list--inactive, i, p,{
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 65px;
    color: #adafbb;
    background-color: white;
}
.people__list--inactive i{
    margin-left: 20px;
    margin-right: 15px;
    color: #adafbb;
    line-height: 61px;
}
.people__list--inactive p{
    margin-right: 20px; 
    font-weight: bold;
    color: #adafbb;
}
.people__list--time{
    margin-left: 105px;
    width: 200px;
    height: 100%;
    line-height: 145px;
    float: left;
    color: #232429;
}
#people1{
    border-radius: 10px 10px 0px 0px;
}
#people1:hover{
    background-color: #edf3ff !important;
}
#people2:hover{
    background-color: #edf3ff !important;
}
#people3:hover{
    background-color: #edf3ff !important;
}
#people4:hover{
    background-color: #edf3ff !important;
}
#people5:hover{
    background-color: #edf3ff !important;
}
#people1:hover #PP1Btn{    
    border: 3px solid #103c82 !important;
}
#people2:hover #PP2Btn{    
    border: 3px solid #103c82 !important;
}
#people3:hover #PP3Btn{    
    border: 3px solid #103c82 !important;
}
#people4:hover #PP4Btn{    
    border: 3px solid #103c82 !important;
}
#people5:hover #PP5Btn{    
    border: 3px solid #103c82 !important;
}
.page__number{
    margin-top: 20px;
    width: 100%;
    height: 145px;
    background-color: #fafbff;
    border-radius: 15px;
}
.page__number--total-pages{
    margin-left: 40px;
    display: flex;
    float: left;
    line-height: 145px;
    background-color: #fafbff;
}
.page__number--control{
    display: flex;
    float: right;
    background-color: #fafbff;
    border-radius: 15px;
}
.page__number--control span{
    line-height: 145px;
}
.total-page{
    margin: 0px 25px;
    width: 100px;
    height: 65px;
    border: 2px solid #dfe1e8;
    box-sizing: border-box;
    border-radius: 15px;
    transform: translateY(40px);
    transition: 0.5s;
    background-color: white;
}
.total-page:hover{
    color: black;
    background-color: #c7d2e6; 
}
.total-page span{
    text-align: center;
    line-height: 60px;
    margin-left: 20px;
    color: black;
}
.page-control{
    width: 220px;
    height: 100%;
    text-align: center;
    background-color: #fafbff;
    border-radius: 15px;
}
.page-control i{
    line-height: 65px;
}
.page-control-left{
    width: 65px;
    height: 65px;
    border: 2px solid #dfe1e8;
    border-radius: 15px;
    color: #babbbf;
    background-color: #fcfcff;
    box-sizing: border-box;
    transition: 0.5s;
}
.page-control-left:hover{
    color: black;
    background-color: #c7d2e6;
}
.page-control-right{
    width: 65px;
    height: 65px;
    border: 2px solid #dfe1e8;
    border-radius: 15px;
    color: black;
    background-color: white;
    box-sizing: border-box;
    transition: 0.5s;
}
.page-control-right:hover{
    background-color: #c7d2e6;
}



.page02{
    margin: 0px 80px;
    width: 2720px;
    height: 1290px;
    background-color: white;
    display: none;
}
.order__title{
    width: 100%;
    height: 80px;
    margin-top: 50px;
}
.order__title--id{
    margin-left: 40px;
    width: 460px;
    height: 80px;
    float: left;
}
.order__title--id--btn{
    width: 30px;
    height: 30px;
    border: 2px solid #d9dbe4;
    background-color: white;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
}
.order__title--id--name{
    line-height: 80px;
}
.order__title--number{
    width: 355px;
    height: 80px;
    float: left;
}
.order__title--name{
    width: 370px;
    height: 80px;
    float: left;
    line-height: 80px;
}
.order__title--email{
    width: 520px;
    height: 80px;
    float: left;
    line-height: 80px;
}
.order__title--package-id{
    width: 330px;
    height: 80px;
    float: left;
    line-height: 80px;
}
.order__title--status{
    width: 295px;
    height: 80px;
    float: left;
    line-height: 80px;
}
.order__title--date{
    width: 245px;
    height: 80px;
    float: left;
    line-height: 80px;  
}
.order__title--button{
    width: 100px;
    height: 80px;
    float: left;
}
.order__title--a{
    width: 60px;
    height: 60px;
    float: left;
    border: 2px solid #d9dbe4;
    background-color: white;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
}
////
.order__user{
    width: 100%;
    height: 150px;
    transition: 0.5s;
    
}
.order__user--id{
    margin-left: 40px;
    width: 460px;
    height: 150px;
    float: left;
}
.order__user--id--btn{
    width: 30px;
    height: 30px;
    border: 2px solid #d9dbe4;
    background-color: white;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
}
.order__user--id--name{
    line-height: 150px;
    color: #232429;
    font-weight: 600;
}
.order__user--number{
    width: 355px;
    height: 150px;
    float: left;
    color: #232429;
    line-height: 150px;
    background-image: linear-gradient(to right, #d9dbe4 , white);
}
.order__user--name{
    width: 370px;
    height: 150px;
    float: left;
    line-height: 150px;
    color: #232429;
}
.order__user--email{
    width: 520px;
    height: 150px;
    float: left;
    line-height: 150px;
    color: #232429;
}
.order__user--package-id{
    width: 330px;
    height: 150px;
    float: left;
    line-height: 150px;
    color: #232429;
}
.order__user--status{
    width: 295px;
    height: 150px;
    float: left;
    line-height: 150px;
}
.order__user--status--btn{
    width: 140px;
    height: 60px;
    border: 2px solid #e7e8ee;
    border-radius: 10px;
    float: left;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    text-align: center;
    font-weight: 600;
    color: #232429;
}
.cube{
    color: #1a66de;
    float: left;
    line-height: 60px !important;
    margin: 0px 23px;
}
.cube1{
    color: #adafbb;
    float: left;
    line-height: 60px !important;
    margin: 0px 23px;
}
.doc{
    font-size: 40px;
    line-height: 60px !important;
}
.order__user--status--btn--off{
    width: 190px;
    height: 60px;
    border: 2px solid #e7e8ee;
    border-radius: 10px;
    float: left;
    color: #e7e8ee;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    text-align: center;
}
.order__user--date{
    width: 245px;
    height: 150px;
    float: left;
    color: #232429;
    line-height: 150px;
}
.order__user--button{
    width: 100px;
    height: 150px;
    float: left;
    display: none;
}
.order__user--a{
    width: 60px;
    height: 60px;
    float: left;
    border: 2px solid #d9dbe4;
    background-color: white;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
}
#order01, #order02, #order03, #order04, #order05, #orderButton01, #orderButton02, #orderButton03, #orderButton04, #orderButton05{
    transition: 0.5s;
}
#order01:hover{
    background-color: #f5f7ff !important;
}
#order01:hover #odCheckBtn1{
    border: 2px solid #103c82;
}
#order02:hover #odCheckBtn2{
    border: 2px solid #103c82;
}
#order03:hover #odCheckBtn3{
    border: 2px solid #103c82;
}
#order04:hover #odCheckBtn4{
    border: 2px solid #103c82;
}
#order05:hover #odCheckBtn5{
    border: 2px solid #103c82;
}
#order01:hover #orderButton01{
    display: block;
}
#order02:hover{
    background-color: #f5f7ff !important;
}
#order02:hover #orderButton02{
    display: block;
}
#order03:hover{
    background-color: #f5f7ff !important;
}
#order03:hover #orderButton03{
    display: block;
}
#order04:hover{
    background-color: #f5f7ff !important;
}
#order04:hover #orderButton04{
    display: block;
}
#order05:hover{
    background-color: #f5f7ff !important;
}
#order05:hover #orderButton05{
    display: block;
}
.checkAll{
    color: white;
    line-height: 30px;
    text-align: center;
}